@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 400;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 1140px;
  background-color: #E5E5E5;
}

.container {
  padding: 5px;
}

main {
  display: flex;
}

aside {
  
}

.filter {
  width: 270px;
}

.list {
  width: 850px;
}

.list h1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 5px 0 9px 0;
}

.pages li {
  font-size: 16px;
  line-height: 35px;
  color: #000000;
  background-color: #FFFFFF;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  margin: 16px 16px 16px 0;
}

section {
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.picture {
  margin: 16px;
  height: 168px;
  width: 224px;
  overflow: hidden;
}

.thumb {
  height: 100%;
}

.item {
  margin: 16px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item h2 {
  height: 21px;
  font-size: 18px;
  margin: 0 0 5px 0;
}

.item p {
  margin: 0 0 5px;
  font-size: 14px;
  flex-grow: 2;
  color: #828282;
  font-weight: 300;
  line-height: 16px;
}

.item .maininfo li {
  background-color: #C4C4C4;
  color: #FFFFFF;
  padding: 5px;
  margin-right: 12px;
  font-size: 12px;
  line-height: 24px;
  
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 16px;
  color: #4F4F4F;
  flex-grow: 2;
  text-align: right;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  display: inline;
  margin-right: 0px;
}

article {
  color: #4F4F4F;
  font-size: 16px;
  line-height: 20px;
  max-width: 565px;
}

