@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  
  
  margin: 0 auto;
  padding: 0;
  width: 1140px;
  background-color: #E5E5E5;
}

.container {
  padding: 0px;
}

header {
  height: 100px;
  margin-top: 40px;
  background-color: #FFFFFF;
}

nav {
  margin-top: 20px;
  
}

.menu {
  height: 50px;
  line-height: 50px;
  color: #8D8D8D;
  background-color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
}

.menu li {
  margin: 16px;
}

.crumbs li {
  font-size: 12px;
  line-height: 40px;
  margin: 0 16px;
}

main {
  display: flex;
}

aside {

}

.filter {
  width: 270px;
  margin: 50px 20px 20px 0;
  background-color: #FFFFFF;
  padding: 16px;
}

.found {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 16px;
  border-bottom: 1px solid #BDBDBD;
}

.param_group {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.filter .param {
  margin-top: 11px;
  margin-left: 0;
}

input, button {
  margin-left: 0;
  outline: none;
}

.range {
  display: flex;
  justify-content: space-between;
}

.range input[type=text] {
  margin-top: 11px;
  width: 113px;
  height: 36px;
  border: 1px solid #BDBDBD;
  font-size: 16px;
  line-height: 19px;
  padding: 4px;
}

.field input[type=text] {
  margin-top: 11px;
  height: 36px;
  width: 100%;
  border: 1px solid #BDBDBD;
  font-size: 16px;
  line-height: 19px;
  padding: 4px;
}

.btn_primary {
  text-transform: uppercase;
  height: 35px;
  width: 100%;
  background-color: #56CCF2;
  color: #FFFFFF;
  border: none;
  line-height: 19px;
  margin-top: 18px;
}

.list {
  width: 850px;
}

.list h1 {
  font-weight: bold;
  font-size: 22px;
  color: #333333;
  margin: 5px 0 2px 0;
}

.pages li {
  font-size: 16px;
  line-height: 35px;
  color: #000000;
  background-color: #FFFFFF;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  margin: 16px 16px 16px 0;
}

section {
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.picture {
  margin: 16px;
  height: 168px;
  width: 224px;
  overflow: hidden;
}

.thumb {
  height: 100%;
}

.item {
  margin: 16px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item h2 {
  height: 21px;
  font-size: 18px;
  margin: 0 0 5px 0;
}

.item p {
  margin: 0 0 5px;
  font-size: 14px;
  flex-grow: 2;
  color: #828282;
  font-weight: 300;
  line-height: 16px;
}

.item .maininfo li {
  background-color: #C4C4C4;
  color: #FFFFFF;
  padding: 5px;
  margin-right: 12px;
  font-size: 12px;
  line-height: 24px;
  
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 16px;
  color: #4F4F4F;
  flex-grow: 2;
  text-align: right;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  display: inline;
  margin-right: 0px;
}

article {
  color: #4F4F4F;
  font-size: 16px;
  line-height: 20px;
  max-width: 565px;
}

